{% comment %}

    Accepts:
    - collection: {Object} collection Liquid object
    - style: {String} Conditionally load different card types by passing style option

    Usage:
    {% render 'card-collection', collection: collection, style: 'some-section-or-template-name-here' %}

{% endcomment %}

{%- if collection and collection != blank -%}

  {% assign snippet_name = 'card-collection' %}
  {% assign snippet_classes = snippet_name %}
  {% assign snippet_id = snippet_name | append: '--' | append: collection.id -%}
  {% assign caption = caption | default: '' %}
  {% assign style = style | default: 'default' %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  {% assign featured_image = collection.featured_image | default: false %}
  {% assign title = collection.title | default: '' %}
  {% assign type = collection.type | default: '' %}
  {% assign url = collection.url | default: '' %}

  <article class="{{ snippet_classes }} {{ snippet_name }}--{{ style }} collection" id="{{ snippet_id }}" data-published-at="{{ collection.published_at | date: "%Y-%m-%d %H:%M:%S" }}">

    {% case style %}

      {% when 'collection-collection-grid' %}

        <div class="{{ snippet_name }}__featured-image collection__featured-image">
          <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
            {%
              render 'lazyload-image',
              alt_text: title,
              image: featured_image,
            %}
          </a>
        </div>
        <div class="{{ snippet_name }}__info">
          <div class="row">
            <div class="col-6">
              <p>{{ title }}</p>
              <p class="muted-text">{{ type }}</p>
              <span>{% render 'price', collection: collection %} </span>
            </div>
          </div>
          

          
        </div>

      {% when 'contact-form' %}

        {% if caption != blank %}
          {% assign title = caption %}
        {% endif %}

        <div class="{{ snippet_name }}__featured-image collection__featured-image">
          <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
            {%
              render 'lazyload-image',
              alt_text: title,
              image: featured_image,
            %}
          </a>
          {% if title != blank %}
            <div class="{{ snippet_name }}__caption caption--2">
              <strong>{{ title }}</strong>
            </div>
          {% endif %}
        </div>

      {% when 'fifty-fifty' %}

        <div class="{{ snippet_name }}__featured-image collection__featured-image">
          <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
            {%
              render 'lazyload-image',
              alt_text: title,
              image: featured_image,
            %}
          </a>
          {% if type != blank %}
            <strong class="{{ snippet_name }}__type caption--2">{{ type }}</strong>
          {% endif %}
        </div>

    {% endcase %}

  </article>

{%- endif -%}
