{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>


<div class="container-fluid page-add-address">

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      <!-- Title -->
      <div class="row pb-55">
        <div class="col-12 col-md-8">
          <h2>{{ 'customer.addresses.title' | t }}</h2>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-md-end align-items-md-end pb-15">
          <a class="underline" href="{{ routes.account_url }}">
            {{ 'customer.account.return' | t }}
          </a>
        </div>
      </div>

      <!-- Addresses -->
      <div class="row">

        <div class="col-12">

          <div class="grid-addresses">
            {%- for address in customer.addresses -%}
            <div class="address">
              <div class="address-item" data-address>
                <h4 class="{%- if address == customer.default_address -%}  {% else %} pb-20 {%- endif -%}">Address #{{
                  forloop.index }}</h4>
                {%- if address == customer.default_address -%}
                <span class="link-text py-1">{{ 'customer.addresses.default' | t }} Address</span>
                {%- endif -%}
    
                <div class="address-item-info">
                  {{ address | format_address }}
                </div>
    
                <div class="row  pt-20">
                  <div class="col-6">
                    <button class="cta" type="button" id="EditFormButton_{{ address.id }}"
                      aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                      aria-controls="EditAddress_{{ address.id }}" data-toggle="show"
                      data-target="#EditAddress_{{ address.id }}" aria-expanded="false" data-address-id="{{ address.id }}">
                      <span class="link outlined w-100">{{ 'customer.addresses.edit' | t }}</span>
                    </button>
                  </div>
                  <div class="col-6">
                    <form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}">
                      <input type="hidden" name="_method" value="delete">
                      <button class="cta" type="submit" aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                      data-target="{{ address.url }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                      <span class="link outlined w-100">
                        {{ 'customer.addresses.delete' | t }}
                      </span>
                    </button>
                    </form>
                    
                  </div>
    
                </div>
    
                <div id="EditAddress_{{ address.id }}" class="address-edit">
                  <h4 class="pb-2">{{ 'customer.addresses.edit_address' | t }}</h4>
                  {%- form 'customer_address', address -%}
                  <div class="field">
                    <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]"
                      value="{{ form.first_name }}" autocomplete="given-name"
                      placeholder="{{ 'customer.addresses.first_name' | t }}">
                  </div>
                  <div class="field">
                    <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]"
                      value="{{ form.last_name }}" autocomplete="family-name"
                      placeholder="{{ 'customer.addresses.last_name' | t }}">
                  </div>
                  <div class="field">
                    <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}"
                      autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                  </div>
                  <div class="field">
                    <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]"
                      value="{{ form.address1 }}" autocomplete="address-line1"
                      placeholder="{{ 'customer.addresses.address1' | t }}">
                  </div>
                  <div class="field">
                    <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]"
                      value="{{ form.address2 }}" autocomplete="address-line2"
                      placeholder="{{ 'customer.addresses.address2' | t }}">
    
                  </div>
                  <div class="field">
                    <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}"
                      autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                  </div>
                  <div class="field">
                    <div class="select">
                      <select  id="AddressCountry_{{ form.id }}" name="address[country]" data-address-country-select
                        data-default="{{ form.country }}" data-form-id="{{ form.id }}" autocomplete="country">
                        {{ all_country_option_tags }}
                      </select>
    
                    </div>
                  </div>
                  <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                    <div class="select">
                      <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"
                        autocomplete="address-level1">
                      </select>
    
                    </div>
                  </div>
                  <div class="field">
                    <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}"
                      autocapitalize="characters" autocomplete="postal-code"
                      placeholder="{{ 'customer.addresses.zip' | t }}">
                  </div>
                  <div class="field">
                    <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}"
                      autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                  </div>
                  <div class="d-flex py-10 align-items-center">
                    <div class="input-checkbox pr-10">
                      {{ form.set_as_default_checkbox }}
                    </div>
                    <label class="link-text" for="address_default_address_{{ form.id }}">
                      {{ 'customer.addresses.set_default' | t }}
                    </label>
                  </div>
                  <div class="row pt-10">
                    <div class="col-6">
    
                      <div class="cta">
                        <input class="link outlined w-100" type="submit" value="Update">
                      </div>
                      
                    </div>
                    <div class="col-6">
                      <button data-toggle="show" data-target="#EditAddress_{{ address.id }}" class="cta">
                        <span class="link outlined w-100">
                          {{ 'customer.addresses.cancel' | t }}
                        </span>
                      </button>
                    </div>
                  </div>
                  {%- endform -%}
                </div>
    
              </div>
    
            </div>
            {%- endfor -%}
          </div>

        </div>

      </div>

      <!-- Add new -->
      <div class="row justify-content-center pt-60" data-addres>
        <div class="col-8 col-md-3">
          <button class="cta" data-toggle="show" data-target="#AddAddress" type="button" aria-expanded="false" aria-controls="AddAddress">
            <span class="link outlined w-100" >
              {{ 'customer.addresses.add_new' | t }}
            </span> 
          </button>
        </div>
      </div>

    </div>
  </div>

  <section  id="AddAddress">
  <div class="container-fluid">
      <div class="row pb-55">

          <div class="col-12 col-lg-10 offset-lg-2">
            <h2 id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
          </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6 ">
     
          {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
          <div class="field">
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}"
              autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
            
          </div>
          <div class="field">
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}"
              autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
            
          </div>
          <div class="field">
            <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
            <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}"
              autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
            
          </div>
          <div class="field">
            <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}"
              autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
            
          </div>
          <div class="field">
            <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}"
              autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
            
          </div>
          <div class="field">
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}"
              autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
            
          </div>
          <div class="field">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <div class="select">
             
              <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}"
                autocomplete="country">
                {{ all_country_option_tags }}
              </select>
      
            </div>
          </div>
          <div id="AddressProvinceContainerNew" style="display: none" class="field">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <div class="select">
              <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"
                autocomplete="address-level1">
              </select>
      
            </div>
          </div>
          <div class="field">
            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters"
              autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
            
          </div>
          <div class="field">
            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
            <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel"
              placeholder="{{ 'customer.addresses.phone' | t }}">
            
          </div>
          
          <div class="row justify-content-between pt-20">
            <div class="col-12 col-md-6">
              <div class="d-flex py-10 align-items-center">
                <div class="input-checkbox pr-10">
                  {{ form.set_as_default_checkbox }}
                </div>
                <label class="link-text" for="address_default_address_{{ form.id }}">
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </div>
              
            </div>
            <div class="col-12 col-md-4 pt-15 pt-md-0">
              <button class="cta">
                <span class="link outlined w-100">
                  {{ 'customer.addresses.add' | t }}
                </span>
              </button>
            </div>
           
          </div>
          {%- endform -%}
          <div class="d-flex justify-content-center pt-40">
            <button data-toggle="show" data-target="#AddAddress" class="underline">
                Back to account details
            </button>
          </div>
        </div>
      </div>


    
  </div>
</section>

</div>





<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>