{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="pb-100 position-relative">
  <div class="reset-password">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <h2>
            {{ 'customer.recover_password.title' | t }}.
          </h2>
        </div>
  
        <div class="row pt-50 justify-content-center">
          <div class="col-12 col-md-8 col-lg-5">
            {%- form 'recover_customer_password' -%}
            {% assign recover_success = form.posted_successfully? %}
            <div class="field">
              <label for="RecoverEmail">
                {{ 'customer.login_page.email' | t }}
              </label>
              <input type="email" value="" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off"
                autocomplete="email" {% if form.errors %} aria-invalid="true" aria-describedby="RecoverEmail-email-error"
                autofocus {% endif %} placeholder="example@email.com">
            </div>
            {%- if form.errors -%}
            <small id="RecoverEmail-email-error" class="form__message">
              {{ form.errors.messages['form'] }}
            </small>
            {%- endif -%}
        
            <button class="cta justify-content-center mt-25">
              <span class="link outlined">
                {{ 'customer.login_page.submit' | t }}
              </span>
              
            </button>
            <div class="d-flex justify-content-center">
              <a href="#" data-toggle="show" role="button" aria-expanded="true" aria-controls=".reset-password" data-target=".reset-password" class="d-block underline mt-15 link-text">
                {{ 'customer.login_page.cancel' | t }}
              </a>
            </div>
            
            {%- endform -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <h2 id="login" tabindex="-1">
          {{ 'customer.login_page.title' | t }}.
        </h2>
      </div>

      <div class="row pt-5 justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
          {%- if recover_success == true -%}
          <h3 class="form__message" tabindex="-1" autofocus>
            {{ 'customer.recover_password.success' | t }}
          </h3>
          {%- endif -%}
          {%- form 'customer_login', novalidate: 'novalidate' -%}
          {%- if form.errors -%}
          <div class="form__message form" tabindex="-1" autofocus>
            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
            <div class="field__error-message error-message">
              {{ 'templates.contact.form.error_heading' | t }}
            </div>
          </div>
          <div class="form">
            <div class="field__error-message error-message">
              {{ form.errors | default_errors }}
            </div>
          </div>
          {%- endif -%}

          <div class="field">
            <label for="CustomerEmail">
              {{ 'customer.login_page.email' | t }}
            </label>
            <input type="email" name="customer[email]" id="CustomerEmail" autocomplete="email" autocorrect="off"
              autocapitalize="off" {% if form.errors contains 'form' %} aria-invalid="true" {% endif %}
              placeholder="example@email.com">
          </div>

          {%- if form.password_needed -%}
          <div class="field">
            <label for="CustomerPassword">
              {{ 'customer.login_page.password' | t }}
            </label>
            <input type="password" value="" name="customer[password]" id="CustomerPassword"
              autocomplete="current-password" {% if form.errors contains 'form' %} aria-invalid="true" {% endif %}
              placeholder="*************************">
          </div>

          <a  href="#" data-toggle="show" role="button" aria-expanded="false" aria-controls=".reset-password" data-target=".reset-password"  class="underline d-block mt-15 link-text">
            {{ 'customer.login_page.forgot_password' | t }}
          </a>
          {%- endif -%}

          <div class="d-flex flex-column pt-25">
            <button class="cta justify-content-center">
              <span class="link outlined">
                {{ 'customer.login_page.sign_in' | t }}
              </span>
            </button>
            
            <div class="d-flex justify-content-center">
              <a href="{{ routes.account_register_url }}"  class="underline d-block mt-20 link-text">
               or {{ 'customer.login_page.create_account' | t }}
              </a>
            </div>
            
          </div>


          {%- endform -%}
        </div>
      </div>
    </div>
  </div>


  {%- if shop.checkout.guest_login -%}
  <div>
    <hr>
    <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

    {%- form 'guest_login' -%}
    <button>
      {{ 'customer.login_page.guest_continue' | t }}
    </button>
    {%- endform -%}
  </div>
  {%- endif -%}
</div>