
<main class="pt-50">

    <div class="container-fluid">

        {% if cart.item_count < 1 %} 

        <div class="row">
            <div class="col-12">
                <h4 class="text-center">Cart is empty</h4>
                <a href="/collections/all" class="underline link-text link mt-30"> Continue shopping </a>
            </div>
        </div>

        {% else %}

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
        
                <section class="quick-cart_main">
        
                    <div class="container-fluid px-md-0">
        
                    <div class="row pb-1 bb-black">
                        <div class="col-6 d-flex align-items-center">
                            <h4 class="pb-2">Your Cart</h4>
                        </div>
                        <div class="col-6 align-items-center d-flex justify-content-end link-text">
                            (<span class="mr-5">{{cart.item_count }}</span> {{cart.item_count | pluralize: 'item', 'items' }})
                        </div>
                    </div>
                    {% for item in cart.items %}
                    <div class="row justify-content-between cart-item">
                        <div class="col-4">
                            {%
                            render 'lazyload-image',
                            alt_text: item.title,
                            classes: 'cart-item__thumb'
                            image: item.image,
                            %}
                        </div>
                        <div class="col-5">
                            <a role="button" class="cart-item__remove" href="{{ item.url_to_remove }}">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.759766 0.5L11.3094 11" stroke="black" />
                                    <path d="M11.3086 0.5L0.758941 11" stroke="black" />
                                </svg>
                            </a>
                            <p class="pb-20">
                                {{item.title}}
                            </p>
        
                            <div class="product-form__quantity quantity">
                                <span class="input-number-decrement quantity__button">
                                    -
                                </span>
                                <input type="number" id="Quantity-{{ product.id }}" name="quantity" value="{{ item.quantity}}"
                                    min="1" pattern="[0-9]*"
                                    class="quantity__input product-form__input product-form__input--quantity"
                                    aria-label="{{ 'general.accessibility.quantity' | t }}">
                                <span class="input-number-increment quantity__button">
                                    +
                                </span>
                            </div>
        
                            <div class="price pt-20">
                                {% if price_compare %}
                                <span class="price__value discount">{{ item.price_compare | money }}</span>
                                {% endif %}
                                <span class="price__value {% if price_compare %}sale-price{% endif %}">{{ item.price | money
                                    }}</span>
                                <!-- <span class="price__currency">{{ shop.currency }}</span> -->
                            </div>
        
                        </div>
                    </div>
                    {% endfor %}

        
                </section>
        
                <section class="pt-20">
        
                    <div class="container-fluid px-md-0">
                        <div class="row justify-content-end">
                            <div class="col-12 col-md-8 col-lg-6 px-0 ">
                                <div class="row">
                                    <div class="col-6">
                                        <span>Subtotal: </span>
                                    </div>
                                    <div class="col-6 text-right">
                                        {{cart.items_subtotal_price | money}}
                                    </div>
                                </div>
                                <div class="row pt-10">
                                    <div class="col-6">
                                        <div class="cta w-100">
                                            <a class="link outlined w-100"
                                            href="/cart" target="_self">
                                            <span class="link__title">Review cart</span>
                                        </a>
                                        </div>
                                    </div>
                                    <div class="col-6 ">
                                        <div class="cta w-100">
                                            <a class="link outlined w-100"
                                            href="/checkout" target="_self">
                                            <span class="link__title">Checkout</span>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center justify-content-md-end">
                                        <a href="/collections/all" class="underline link-text link mt-15"> Continue shopping </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
        
                </section>
            </div>
        </div>

        {% endif %}

        

    </div>


</main>