{%- assign section_name = 'fifty-fifty' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign aos_id = section_id | append: '--aos' %}
{% assign aos_delay = 250 %}
{% assign aos_delay_increment = 250 %}

{% assign cta_title = section.settings.cta_title | default: '' %}
{% assign cta_link = section.settings.cta_link | default: '' %}
{% assign style = section.settings.style | default: 'standard' %}

{% if section.settings.anchor_id != blank %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

{% capture aos_attrs_img %}
  {%
    render 'aos-attributes',
    anchor: section.id,
    anchor_placement: 'top-bottom',
    delay: 0,
    duration: 550,
    easing: 'ease-in-out',
    offset: 175,
    once: 'true',
    transition: 'fade-left',
  %}
{% endcapture %}

{% capture aos_attrs_text %}
  {%
    render 'aos-attributes',
    anchor: section.id,
    anchor_placement: 'top-bottom',
    delay: 500,
    duration: 550,
    easing: 'ease-in-out',
    offset: 175,
    once: 'true',
    transition: 'fade-right',
  %}
{% endcapture %}

{% capture aos_attrs_btn %}
  {%
    render 'aos-attributes',
    anchor: section.id,
    anchor_placement: 'top-bottom',
    delay: 1000,
    duration: 550,
    easing: 'ease-in-out',
    offset: 175,
    once: 'true',
    transition: 'fade-up',
  %}
{% endcapture %}

<div class="{{ section_name }}" id="{{ section_id }}" data-style="{{ style }}">
  {% if 'standard' == style %}{% render 'bs-container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}{% endif %}
    <div class="{{ section_name }}__layout" id="{{ aos_id }}">

      {%- for block in section.blocks -%}
        {%- case block.type -%}

          {%- when 'media' -%}

            {% assign image = block.settings.image | default: false %}

            {% if image %}
              {% capture aos %}
                {%
                  render 'aos-attributes',
                  anchor: aos_id,
                  delay: 250,
                  transition: 'fade-left',
                %}
              {% endcapture %}
              <div class="{{ section_name }}__image" data-index="{{ forloop.index }}" data-index0="{{ forloop.index0 }}" {{ aos }}>
                {% if cta_link != blank %}
                  <a
                    class="{{ section_name }}__image-link link"
                    href="{{ cta_link }}"
                    title="{{ cta_title }}"
                    target="{% if cta_link contains 'http' %}_blank{% else %}_self{% endif %}"
                  >
                {% endif %}
                  {%
                    render 'lazyload-image',
                    image: image,
                  %}
                {% if cta_link != blank %}</a>{% endif %}
              </div>
            {% endif %}

          {%- when 'content' -%}

            {% assign heading = block.settings.heading | default: '' %}
            {% assign message = block.settings.message | default: '' %}

            {% if heading != blank or message != blank %}
              <div class="{{ section_name }}__content" data-index="{{ forloop.index }}" data-index0="{{ forloop.index0 }}">

                {% capture aos %}
                  {%
                    render 'aos-attributes',
                    anchor: aos_id,
                    delay: aos_delay,
                    transition: 'slide-down',
                  %}
                {% endcapture %}
                {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
                <div class="{{ section_name }}__vr vr" {{ aos }}></div>

                {% if heading != blank %}
                  {% capture aos %}
                    {%
                      render 'aos-attributes',
                      anchor: aos_id,
                      delay: aos_delay,
                      transition: 'fade-right',
                    %}
                  {% endcapture %}
                  {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
                  <h2 class="{{ section_name }}__heading heading" {{ aos }}>{{ heading }}</h2>
                {% endif %}

                {% if message != blank %}
                  {% capture aos %}
                    {%
                      render 'aos-attributes',
                      anchor: aos_id,
                      delay: aos_delay,
                      transition: 'fade-right',
                    %}
                  {% endcapture %}
                  {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
                  <div class="{{ section_name }}__message message rte" {{ aos }}>{{ message }}</div>
                {% endif %}

                {% if cta_link != blank and cta_title != blank %}
                  {% capture aos %}
                    {%
                      render 'aos-attributes',
                      anchor: aos_id,
                      delay: aos_delay,
                      transition: 'fade-up',
                    %}
                  {% endcapture %}
                  <div class="{{ section_name }}__cta" {{ aos }}>
                    <a class="{{ section_name }}__cta-link link outlined" href="{{ cta_link }}" title="{{ cta_title }}"  target="{% if cta_link contains 'http' %}_blank{% else %}_self{% endif %}">
                      <span class="link__title">{{ cta_title }}</span>
                    </a>
                  </div>
                {% endif %}

              </div>
            {% endif %}

          {% endcase %}
      {%- endfor -%}

    </div>
  {% if 'standard' == style %}{% render 'bs-container', state: 'closed' %}{% endif %}
</div>

{% schema %}
{
	"name": "Fifty-Fifty",
	"tag": "section",
	"class": "section section--fifty-fifty",
	"max_blocks": 2,
	"settings": [
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Style",
      "type": "select",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "wide", "label": "Wide" }
      ],
      "default": "standard",
      "id": "style"
    },
    {
 		 "content": "Call to Action",
 		 "type": "header"
 		},
    {
			"label": "Title",
			"type": "text",
      "default": "Shop now",
			"id": "cta_title"
		},
		{
		  "label": "Link",
			"type": "url",
			"id": "cta_link"
		}
  ],
	"blocks": [
	  {
			"name": "Content",
			"type": "content",
			"limit": 1,
			"settings": [
			  {
					"label": "Heading",
					"type": "text",
					"id": "heading"
				},
        {
					"label": "Message",
					"type": "richtext",
					"id": "message"
				}
			]
		},
		{
			"name": "Media",
			"type": "media",
			"limit": 1,
			"settings": [
			  	{
					"label": "Image",
					"type": "image_picker",
					"id": "image"
				}
			]
		}
	],
	"presets": [
	  {
		"name": "Fifty-Fifty"
	  }
	]
}
{% endschema %}
