{%- assign section_name = 'fifty-fifty' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign colour_theme = section.settings.colour_theme | default: 'light' %}
{% assign text_alignment = section.settings.text_alignment | default: 'bottom' %}

{% if section.settings.anchor_id != blank %}
{% assign section_id = section.settings.anchor_id %}
{% endif %}

{% capture aos_attrs_img %}
    {%
      render 'aos-attributes',
      anchor: section.id,
      anchor_placement: 'top-bottom',
      delay: 0,
      duration: 550,
      easing: 'ease-in-out',
      offset: 175,
      once: 'true',
      transition: 'fade-left',
    %}
{% endcapture %}


{% capture aos_attrs_text %}
    {%
      render 'aos-attributes',
      anchor: section.id,
      anchor_placement: 'top-bottom',
      delay: 500,
      duration: 550,
      easing: 'ease-in-out',
      offset: 175,
      once: 'true',
      transition: 'fade-right',
    %}
{% endcapture %}

{% capture aos_attrs_btn %}
    {%
      render 'aos-attributes',
      anchor: section.id,
      anchor_placement: 'top-bottom',
      delay: 1000,
      duration: 550,
      easing: 'ease-in-out',
      offset: 175,
      once: 'true',
      transition: 'fade-up',
    %}
{% endcapture %}


<div class="container-fluid px-0 {{ section_name }}-wrapper mb-lg-150" id="{{ section.id }}">
  <div class="row justify-content-center">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'media' -%}

      <div class="fifty-fifty_media col-12 col-lg-7 px-0" {{aos_attrs_img}} >
        {%
          render 'lazyload-image',
          alt_text: 'Fifty-Fifty Image',
          image:  block.settings.image,
        %}
      </div>

      {%- when 'content' -%}



      <div class="fifty-fifty_content  {% if forloop.first == true %} left {% else %} right {% endif%}  col-10 col-md-8 col-lg-5 d-flex px-30 px-lg-50  pt-50 pb-75 pb-lg-50 py-lg-0   ">
        <div class="fifty-fifty_content-wrapper  d-flex flex-column justify-content-center">

          <h2 class="fifty-fifty__heading heading " {{aos_attrs_text}}>{{ block.settings.heading }}</h2>
          <div class="fifty-fifty__message message" {{aos_attrs_text}}>
            <p>{{ block.settings.description }}</p>
          </div>

          {% if block.settings.cta_link != blank %}

          <div class="fifty-fifty__ctas">
            <div class="fifty-fifty__cta " {{aos_attrs_btn}}>
              <div class="cta" data-justify="not-set"><a class="link outlined"
                  href="{{ block.settings.cta_link }}" target="_self">
                  <span class="link__title">{{ block.settings.cta_title }}</span>
                </a></div>
            </div>
          </div>
          {%endif%}

        </div>
      </div>



      {%endcase%}
      {%- endfor -%}
  </div>
</div>



</div>

{% schema %}
{
	"name": "Fifty-Fifty",
	"tag": "section",
	"class": "section section--fifty-fifty",
	"max_blocks": 2,
	"settings": [],
	"blocks": [
	  {
			"name": "Content",
			"type": "content",
			"limit": 1,
			"settings": [
			  {
					"label": "Heading",
					"type": "text",
					"id": "heading"
				},
				{
					"label": "Description",
					"type": "richtext",
					"id": "description"
				},
        {
 			    "content": "Call to Action",
 			    "type": "paragraph"
 		    },
				{
					"label": "Title",
					"type": "text",
					"id": "cta_title",
					"default": "Shop now"
				},
				{
					"label": "Link",
					"type": "url",
					"id": "cta_link"
				}
			]
		},
		{
			"name": "Media",
			"type": "media",
			"limit": 1,
			"settings": [
			  	{
					"label": "Image",
					"type": "image_picker",
					"id": "image"
				}
			]
		}
	],
	"presets": [
	  {
		"name": "Fifty-Fifty"
	  }
	]
}
{% endschema %}
