{%- assign section_name = 'fifty-fifty' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign colour_theme = section.settings.colour_theme | default: 'light' %}
{% assign text_alignment = section.settings.text_alignment | default: 'bottom' %}

{% if section.settings.anchor_id != blank %}
{% assign section_id = section.settings.anchor_id %}
{% endif %}

<div class="{{ section_name }}" id="{{ section_id }}" data-colour-theme-{{ colour_theme }} data-text-alignment-{{
  text_alignment }}>

  
  

  <div class="flexible-content__fifty-fifty fifty-fifty" id="fifty-fifty" data-layout="image-left" data-style="wide">
    <div class="fifty-fifty__main">
      <div class="fifty-fifty__layout  {% if section.settings.invert_layout %} fifty-fifty__inverted {%endif%}">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
              {%- when 'media' -%}
  
        <div class="fifty-fifty__image aos-init aos-animate lazyloaded"
          data-aos-anchor="#fifty-fifty--a886272a18cce4f5028e21adcc68b9f6" data-aos-anchor-placement="top-bottom"
          data-aos-delay="0" data-aos-duration="550" data-aos-easing="ease-in-out" data-aos-offset="175"
          data-aos-once="true" data-aos="fade-left"><img
            class="lazyload-item lazyload-item--image lazyload-item--inline lazyautosizes lazyloaded"
            src="{{ block.settings.image | img_url: 'master'  }}" alt="Fifty-Fifty Image">
        </div>
  
  
        {%- when 'content' -%}
  
        <div class="fifty-fifty__content">
          <h2 class="fifty-fifty__heading heading aos-init aos-animate">{{ block.settings.heading }}</h2>
          <div class="fifty-fifty__message message rte aos-init aos-animate">
            <p>{{ block.settings.description }}</p>
          </div>

          {% if block.settings.cta_link != blank %}

          <div class="fifty-fifty__ctas">
            <div class="fifty-fifty__cta aos-init aos-animate">
              <div class="cta" data-justify="not-set"><a class="link outlined"
                  href="{{ block.settings.cta_link }}" target="_self">
                  <span class="link__title">Shop now</span>
                </a></div>
            </div>
          </div>
          {%endif%}

        </div>
  
        {%endcase%}
        {%- endfor -%}
      </div>
    </div>
  </div>
  
  


</div>

{% schema %}
{
"name": "Fifty-Fifty",
"tag": "section",
"class": "section section--fifty-fifty",
"max_blocks": 2,
"settings": [
{
"type": "checkbox",
"id": "invert_layout",
"label": "Invert layout",
"default": false
}
],
"blocks": [
{
"name": "Content",
"type": "content",
"limit": 1,
"settings": [
{
"label": "Heading",
"type": "text",
"id": "heading"
},
{
"label": "Description",
"type": "richtext",
"id": "description"
},
{
"label": "Link",
"type": "url",
"id": "cta_link"
}
]
},
{
"name": "Media",
"type": "media",
"limit": 1,
"settings": [
{
"label": "Image",
"type": "image_picker",
"id": "image"
},
{
"label": "Caption",
"type": "text",
"id": "caption"
},
{
"label": "Stamp",
"type": "image_picker",
"id": "stamp"
}
]
}
],
"presets": [
{
"name": "Fifty-Fifty"
}
]
}
{% endschema %}