{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

<div id="collection-list" class="container-fluid px-0 mb-lg-150">
  <div class="row pb-120">
    <div class="col-10 offset-1 offset-lg-2 ">
      <h1>{{ section.settings.title | escape }}</h1>
    </div>
  </div>

  
    
      {%- for collection in collections -%}
      <div class="row justify-content-center fifty-fifty--row pb-120">
    {% if collection.image != blank %}
    <div class="fifty-fifty_media col-12 col-lg-7 px-0" {{aos_attrs_img}} >
      {%
        render 'lazyload-image',
        alt_text: 'Fifty-Fifty Image',
        image:  collection.image,
      %}
    </div>
    {% else %}
    <div class="fifty-fifty_media col-12 col-lg-7 px-0" {{aos_attrs_img}} >
      {{ 'lifestyle-1' | placeholder_svg_tag }}
    </div>

    {% endif %}

     
      <div class="fifty-fifty_content  col-10 col-md-8 col-lg-5 d-flex px-lg-65 py-50 py-lg-0 ">
        <div class="d-flex flex-column justify-content-center">
          
          <h2 class="fifty-fifty__heading heading aos-init aos-animate" {{aos_attrs_text}}>{{ collection.title }}</h2>
          <div class="fifty-fifty__message message rte aos-init aos-animate" {{aos_attrs_text}}>
            <p>{{ collection.description }}</p>
          </div>

         

          <div class="fifty-fifty__ctas">
            <div class="fifty-fifty__cta aos-init aos-animate" {{aos_attrs_btn}}>
              <div class="cta" data-justify="not-set"><a class="link outlined"
                  href="{{ collection.url }}" target="_self">
                  <span class="link__title">Shop now</span>
                </a></div>
            </div>
          </div>
          

        </div>
      </div>

      </div>
      {% endfor %}
    
  </div>


</div>


{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    }
  ]
}
{% endschema %}
