<main class="page-product pt-40">

  <!-- SECTION: PRODUCT MAIN -->
  <section class="product-main">

    <div class="container-fluid px-lg-30">
      <div class="row">
        <div class="col-12 col-lg-7 position-relative">
          <div class="swiper swiper-product mb-10">
            <div class="swiper-wrapper">
              {% for media in product.media %}
              <div class="swiper-slide">
                {%
                render 'lazyload-image',
                alt_text: 'Product',
                image: media,
                %}
                </a>
              </div>
              {% endfor %}
            </div>

          </div>
          <div thumbsSlider="" class="swiper swiper-thumbnail">
            <div class="swiper-wrapper">
              {% for media in product.media %}
              <div class="swiper-slide">
                {%
                render 'lazyload-image',
                alt_text: 'Product',
                image: media,
                %}
                </a>
              </div>
              {% endfor %}
            </div>

          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div class="col-12 col-lg-5 px-lg-50 pt-40 pt-lg-0 ">
          <h4 class="pb-10">{{ product.title }}</h4>
          <span>{% render 'price', product: product %} </span>
          <p class="pr-15 pt-2">
            {{ product.description }}
          </p>

         

          {% render 'product-form' with
            product: product,
            current_variant: current_variant,
            show_dynamic_checkout: block.settings.show_dynamic_checkout,
            %}


          <div class="row pt-25">
            <div class="col-12">
              <div class="accordion" id="accordion-{{ product.title | replace: ' ', '-' }}">

                {% if product.metafields.my_fields.details != blank %}
                  
                  <div class="navigation__item" id="headingOne-{{ product.title | replace: ' ', '-' }}">
                    <button class="navigation__link link w-100 justify-content-between" target="_self" title="ShopAll" type="button" data-toggle="collapse" data-target="#collapseOne-{{product.title | replace: ' ', '-'}}" aria-expanded="false" aria-controls="collapseOne-{{product.title | replace: ' ', '-'}}"><span
                      class="link-text">Details</span>
                      <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 0V11" stroke="black"/>
                        <path d="M11 5.5L0 5.5" stroke="black"/>
                      </svg>                    
                    </button>
                  </div>
    
                  <div id="collapseOne-{{ product.title | replace: ' ', '-' }}" class="collapse accordion-content" aria-labelledby="headingOne-{{ product.title | replace: ' ', '-' }} " data-parent="#accordion-{{ product.title | replace: ' ', '-' }}">
                    <p class="pt-2">
                      {{ product.metafields.my_fields.details | metafield_tag  }}
                    </p>
                  </div>
                {% endif %}

                {% if product.metafields.my_fields.features != blank %}
                  
                  <div class="navigation__item" id="headingTwo-{{ product.title | replace: ' ', '-' }}">
                    <button class="navigation__link link w-100 justify-content-between" target="_self" title="ShopAll" type="button" data-toggle="collapse" data-target="#collapseTwo-{{product.title | replace: ' ', '-'}}" aria-expanded="false" aria-controls="collapseTwo-{{product.title | replace: ' ', '-'}}"><span
                      class="link-text">Features</span>
                      <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 0V11" stroke="black"/>
                        <path d="M11 5.5L0 5.5" stroke="black"/>
                      </svg>                    
                    </button>
                  </div>
    
                  <div id="collapseTwo-{{ product.title | replace: ' ', '-' }}" class="collapse accordion-content" aria-labelledby="headingTwo-{{ product.title | replace: ' ', '-' }} " data-parent="#accordion-{{ product.title | replace: ' ', '-' }}">
                    <p class="pt-2">
                      {{ product.metafields.my_fields.features | metafield_tag }}
                    </p>
                  </div>
                {% endif %}

                {% if product.metafields.my_fields.dimensions != blank %}
                  
                  <div class="navigation__item" id="headingThree-{{ product.title | replace: ' ', '-' }}">
                    <button class="navigation__link link w-100 justify-content-between" target="_self" title="ShopAll" type="button" data-toggle="collapse" data-target="#collapseThree-{{product.title | replace: ' ', '-'}}" aria-expanded="false" aria-controls="collapseThree-{{product.title | replace: ' ', '-'}}"><span
                      class="link-text">Dimensions</span>
                      <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 0V11" stroke="black"/>
                        <path d="M11 5.5L0 5.5" stroke="black"/>
                      </svg>                    
                    </button>
                  </div>
    
                  <div id="collapseThree-{{ product.title | replace: ' ', '-' }}" class="collapse accordion-content" aria-labelledby="headingThree-{{ product.title | replace: ' ', '-' }} " data-parent="#accordion-{{ product.title | replace: ' ', '-' }}">
                    <p class="pt-2">
                      {{ product.metafields.my_fields.dimensions | metafield_tag }}
                    </p>
                  </div>
                {% endif %}
                
                {% if product.metafields.my_fields.materials != blank %}
                  
                  <div class="navigation__item" id="headingFour-{{ product.title | replace: ' ', '-' }}">
                    <button class="navigation__link link w-100 justify-content-between" target="_self" title="ShopAll" type="button" data-toggle="collapse" data-target="#collapseFour-{{product.title | replace: ' ', '-'}}" aria-expanded="false" aria-controls="collapseFour-{{product.title | replace: ' ', '-'}}"><span
                      class="link-text">Materials + Care</span>
                      <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 0V11" stroke="black"/>
                        <path d="M11 5.5L0 5.5" stroke="black"/>
                      </svg>                    
                    </button>
                  </div>
    
                  <div id="collapseFour-{{ product.title | replace: ' ', '-' }}" class="collapse accordion-content" aria-labelledby="headingFour-{{ product.title | replace: ' ', '-' }} " data-parent="#accordion-{{ product.title | replace: ' ', '-' }}">
                    <p class="pt-2">
                      {{ product.metafields.my_fields.materials | metafield_tag }}
                    </p>
                  </div>
                {% endif %}

              </div>
            </div>
          </div>

          <div class="row pt-40 pt-lg-60">
              <div class="col-12 link-text">
                {%- assign current_variant = product.selected_or_first_available_variant -%}

                  {% if current_variant.sku != blank %}
                  <p class="pb-2">SKU: {{ current_variant.sku }}</p>
                  {% endif %}


                  {% if product.available %}
                  <p>Item availability: in stock</p>
                  {% else %}
                  <p>Item availability: out of stock</p>
                  {% endif %}

              </div>
          </div>

          <div class="row pt-20">
            <div class="col-12 link-text">
              <p class="pb-2">This item appears in:</p>
              <p class="underline pb-2"> NYC HOUSE</p>
              <p class="underline pb-2">LA apartment</p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
  <!-- // -->

  

</main>

<script>
  $(function (){
  $(document).on("click", ".input-number-increment", function (e) {
    var quantity = $(this).parent().find("input").val();
    $(this).parent().find("input").val(parseInt(quantity) + 1).change();
  });

  $(document).on("click", ".input-number-decrement", function (e) {
    var quantity = $(this).parent().find("input").val();
    if (quantity <= 1) 
      $(this).parent().find("input").val(1).change();
    else 
      $(this).parent().find("input").val(parseInt(quantity) - 1).change();
  });
})
</script>



<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".swiper-thumbnail", {
    spaceBetween: 10,
    slidesPerView: 3,
    freeMode: true,
    watchSlidesProgress: true,
    clickable: true,
  });
  var swiper2 = new Swiper(".swiper-product", {
    spaceBetween: 10,
    effect: "fade",
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });
</script>