{%- assign section_name = 'text-feature' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{%- assign alignment = section.settings.alignment | default: 'left' -%}
{%- assign columns = section.settings.width | default: 'col-12' -%}
{%- assign width = section.settings.width | default: 'full' -%}

{%- if section.settings.anchor_id != blank -%}
  {%- assign section_id = section.settings.anchor_id -%}
{%- endif -%}

{%- case width -%}
  {%- when 'full' -%}
    {%- assign columns = 'col-12' -%}
  {%- when 'inset' -%}
    {%- assign columns = 'col-12 col-lg-10 offset-lg-1' -%}
{%- endcase -%}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open', col: columns %}
    <div class="{{ section_name }}__content" data-text-alignment-{{ alignment }}>
      {%- for block in section.blocks -%}
        {%- case block.type -%}

          {%- when 'cta' -%}

            {% assign link = block.settings.link | default: '' %}
            {% assign title = block.settings.title | default: '' %}

            {% if link != blank and title != blank %}
              <div class="{{ section_name }}__cta">
                <a class="{{ section_name }}__cta-button button--primary" href="{{ link }}" title="{{ title }}">{{ title }}</a>
              </div>
            {% endif %}

          {%- when 'heading' -%}

            {% assign heading = block.settings.heading | default: '' %}
            {% assign heading_size = block.settings.heading_size | default: '' %}

            {% if heading != blank %}
              <h{{ heading_size }} class="{{ section_name }}__heading heading--{{ heading_size }}">{{ heading | escape }}</h{{ heading_size }}>
            {% endif %}

          {%- when 'message' -%}

            {% assign message = block.settings.message | default: '' %}

            {% if message != blank %}
              <div class="{{ section_name }}__text body-copy--1">{{ message }}</div>
            {% endif %}

        {%- endcase -%}
      {%- endfor -%}
    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Text Feature",
  "tag": "section",
  "class": "section section--text-feature",
  "settings": [
    {
      "label": "Text Alignment",
      "type": "select",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left",
      "id": "alignment"
    },
    {
      "label": "Container Width",
      "type": "select",
      "options": [
        { "value": "full", "label": "Full" },
        { "value": "inset", "label": "Inset" }
      ],
      "default": "full",
      "id": "width"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "limit": 1,
      "settings": [
        {
          "label": "Heading",
          "type": "text",
          "id": "heading"
        },
        {
          "label": "Size",
          "type": "select",
          "options": [
            { "value": "1", "label": "H1" },
            { "value": "2", "label": "H2" },
            { "value": "3", "label": "H3" }
          ],
          "default": "1",
          "id": "heading_size"
        }
      ]
    },
    {
      "name": "Message",
      "type": "message",
      "limit": 1,
      "settings": [
        {
          "label": "Message",
          "type": "richtext",
          "id": "message"
        }
      ]
    },
    {
      "name": "Call to Action",
      "type": "cta",
      "limit": 1,
      "settings": [
        {
          "label": "Title",
          "type": "text",
          "id": "title"
        },
        {
          "label": "Link",
          "type": "url",
          "id": "link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Feature"
    }
  ]
}
{% endschema %}
